<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{{ url_for('static',filename='kemalphonesstyle.css') }}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

    <title>{% block title %} {% endblock %}</title>

  </head>
  <center><i><img src="{{ url_for('static',filename='kemalrepairphones.png') }}" alt="logo" heigh="250" width="250"></i></center>
  <body>

    <div class="container">
       </div>
        <div class="menu-bar">
          <ul>
          <li class="active"><a href="{{ url_for('home_page') }}"><i class="fa fa-home"></i>Home</a>
          </li>
          <li><a href="#"><i class="fa fa-user"></i>About Us</a>
          <div class="sub-menu-1">
              <ul>
                  <li><a href="{{ url_for('viewmis') }}">Mission</a></li>

                  <li><a href="{{ url_for('viewvis') }}">Vision</a></li>
                  <li><a href="{{ url_for('viewte') }}">Team</a></li>
                  <li><a href="{{ url_for('viewcong') }}">Congratulations</a></li>
              </ul>
          </div>
          </li>
          <li><a href="#"><i class="fa fa-clone"></i>Services</a>
          <div class="sub-menu-1">
          <ul>
          <li><a href="{{ url_for('viewebdes') }}">Web Designing</a></li>
          <li class="hover-me"><a href="#">Marketing</a><i class="fa fa-angle-right"></i>
          <div class="sub-menu-2">
              <ul>
                  <li><a href="#">SEO</a></li>
                  <li><a href="{{ url_for('visit') }}">Social Media</a></li>
                  <li><a href="#">Email Marketing</a></li>
              </ul>
          </div>
          </li>
          <li class="hover-me"><a href="#">Mobile App</a><i class="fa fa-angle-right"></i>
              <div class="sub-menu-2">
                  <ul>
                      <li><a href="{{ url_for('searchmodel') }}">Android app</a></li>
                      <li><a href="{{ url_for('searchmodelmac') }}">iOS App</a></li>
                      <li><a href="https://code.tutsplus.com/fr/articles/best-ionic-app-templates--cms-28563">Ionic App</a></li>
                      <li><a href="https://www.monterail.com/services/flutter-development?utm_term=flutter%20development&utm_campaign=Search_Technologies&utm_medium=ppc&utm_source=adwords&hsa_acc=6515337099&hsa_ver=3&hsa_src=g&hsa_kw=flutter%20development&hsa_cam=19758673399&hsa_ad=650055661358&hsa_grp=147345428835&hsa_mt=p&hsa_net=adwords&hsa_tgt=kwd-394732081627&gclid=EAIaIQobChMI8b2TouGN_gIV1-d3Ch3NjQWxEAAYAiAAEgK2SfD_BwE">Flutter App</a></li>
                      <li><a href="https://unity.com/fr">Unity App</a></li>
                  </ul>
              </div>
          </li>
          </ul>
          </div>
          </li>
          <li><a href="{{ url_for('seeuser') }}"><i class="fa fa-users"></i>User Input</a></li>
          <li><a href="{{ url_for('liste') }}"><i class="fa fa-users"></i>List Users</a></li>
          <li><a href="#"><i class="fa fa-angellist"></i>Investers</a></li>
          <li><a href="#"><i class="fa fa-inr"></i>Pricing</a></li>
          <li><a href="#"><i class="fa fa-edit"></i>Training</a>
          <div class="sub-menu-1">
              <ul>
                  <li class="hover-me"><a href="{{ url_for('seetest') }}">Testing</a></li>
                  <li class="hover-me"><a href="#">Development</a><i class="fa fa-angle-right"></i>
                  <div class="sub-menu-2">
                      <ul>
                          <li><a href="https://www.java.com/en/download/help/whatis_java.html">Java</a></li>
                          <li><a href="https://angular.io">Angular</a></li>
                          <li><a href="https://www.php.net">PHP</a></li>
                          <li><a href="https://www.python.org">Python</a></li>
                          <li><a href="https://www.javascript.com">JSP</a></li>
                      </ul>
                  </div>
              </li>
                  <li><a href="#">UI Designing></li>
              </ul>
              </div>
          </li>
          <li><a href="{{ url_for('send') }}"><i class="fa fa-phone"></i>Contact Us</a>
          </li>
          </div>
          </ul>
          </div>
          {% block content %} {% endblock %}
          <script src="{{ url_for('static',filename='kemalphonesolutions.js') }}"></script>
          <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
          <script src="//downloads.mailchimp.com/js/signup-forms/popup/unique-methods/embed.js" type="text/javascript"></script>
          <footer class="site-footer ">
              <div class="container">
                <div class="row justify-content-between">
                  <div class="col-8">
                    <ul class="nav sub-nav">
                      <li class="nav-item">
                        <a class="nav-link" href="/terms">Terms of Use</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="/privacy">Privacy Policy</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="/faqs">FAQs</a>
                      </li>
                    </ul>
                    <span>Copyright 2023 &copy; EPFL/<i>
                  <img width="100.0" height="24.7" src="https://powerhouse-lausanne.ch/wp-content/uploads/2022/11/adaflow-byPowerhouse.jpg" class="attachment-full size-full" alt="adaflow logo" /></a></figure><div class="elementor-image-box-content"><h3 class="elementor-image-box-title"><a href="https://adaflow.ch/"></a></div>
                    </i></span>
                  </div>
                    <a href="https://www.epfl.ch"></a><img class="logo-epfl" alt="EPFL Extension School" src="https://d3rt91u8ecpt22.cloudfront.net/assets/logo-epfl-b3b34c083109f9ae09249690344f29de85373ed5a25310401be0d4339c6b7b5d.svg" />

                </div>
              </div>
            </footer>
            <div class="showOnDesktop"></div>
            <div class="header-actions-action header-actions-action--cta" data-animation-role="header-element">
              <a class="btn btn--border theme-btn--primary-inverse sqs-button-element--primary" href="https://workspace.google.com/intl/fr_ch/products/calendar">
                PRENDRE UN RENDEZ-VOUS
              </a>
              <button class="cta cta--primary cta--small dropdown-button"><a href="{{ url_for('send') }}">
                Inscription
            </button>
            </div>
            <style>
              .top-bun,
              .patty,
              .bottom-bun {
                height: 1px;
              }
            </style>

  </body>
</html>
