{% extends 'base.html' %}

<style>
  h1 {
    text-align:center;
      margin: 0.1rem 0;
      font-size: 2rem;
  }

</style>
{% block content %}
<h1> EL Kémal phones solutions! </h1>
    <h2></h2>
<div class="mc-modal-bg" data-dojo-attach-point="modalOverlay" style="display: block; opacity: 0.11;"></div>
  
    <table style="width:50%">
     
      <tr>
        <th>First Name</th>
        <th>Model</th>
        <th>Problem</th>
      </tr>
    
    <style>
      table, th {
        border:1px solid black;
      }

      table, td {
        border:1px solid;
        border-collapse: collapse;
      }
    </style>
    

    {% for userinput in userinputs %}

  
    <tr>
      <td> {{userinput['fname'] }}</td>
      <td> {{userinput['modele'] }}</td>
      <td> {{userinput['problem'] }}</td>	
   </tr>

{% endfor %}

</table> 

  {% endblock %}
