{% extends 'base.html' %}

{% block content %}
<h1> EL Kémal phones solutions! </h1>
  

    <div class="mc-modal-bg" data-dojo-attach-point="modalOverlay" style="display: block; opacity: 0.11;"></div>
    <span class="badge badge-warning"><i class="fa fa-user"></i>Utilisateur</span>
    <table style="width:50%">
      <tr>
        <th>First Name</th>
        <th>Model</th>
        <th>Problem</th>
      </tr>
    </table>
    
    <style>
      table, th {
        border:1px solid black;
      }
    </style>
    <table border = 3 id="table2" style="width:100%">
   
     {% for userinput in userinputs %}

     {{userinput['fname'] }}
       
    <tr>
      <td> {{userinput['fname'] }}</td>
    </tr>
    <tr>
      <td> {{userinput['modele'] }}</td></tr>
    <tr>
      <td> {{userinput['problem'] }}</td>	
    </tr>

   {% endfor %}

   <style>
      table, th {
        border:1px solid black;
      }
    </style>
</table> 

<style>
  h1 {
    text-align:center;
      margin: 0.1rem 0;
      font-size: 2rem;
  }
</style>


  {% endblock %}
