{% extends 'base.html' %}

{% block content %}
<h1> EL Kémal phones solutions! </h1>
    <h2></h2>

    {% for userinput in userinputs %}

    <div class="mc-modal-bg" data-dojo-attach-point="modalOverlay" style="display: block; opacity: 0.11;"></div>
    <span class="badge badge-warning"><i class="fa fa-user"></i>Utilisateur</span>
    {{ userinput['fname'] }} - {{ userinput['modele']}}, {{userinput['problem'] }}

<style>
  h1 {
    text-align:center;
      margin: 0.1rem 0;
      font-size: 2rem;
  }

</style>

{% endfor %}

  {% endblock %}
