{% extends 'base.html' %}

{% block content %}

    <title>Testing</title>
    <h1>
        Here you can test our services. Clic on and watch.
    </h1>
    <div id="player">
    <p>
        <iframe width="56.0" height="31.5" src="https://www.youtube-nocookie.com/embed/TicGJQqrq2M?controls=0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
    </p>
</div>

{% endblock %}