<html lang="en">
    {% extends 'base.html' %}

    <ul>
      {% for modele in modeles %}
          <li>{{ modele }}</li>
    </ul>
    
    {% block content %}
<head>
<title>List userinput</title>
<!doctype html>
<html>
   <body>
   
      <table border = 3 style="width:100%">
         <thead>
            <td>Userinput</td>
            <td>Modele</td>
            <td>Problem</td>
         </thead>
         
         {% for session in sessions %}
            <tr>
               <td>{{session['fname']}}</td>
               <td>{{session['modele']}}</td>
               <td> {{ session['problem']}}</td>	
            </tr>
         {% endfor %}
      </table>
      <table >
         <tr>
           <th>{{session['fname']}}</th>
           <th>{{session['modele']}}</th>
           <th>{{session['problem']}}</th>
         </tr>
       </table>
       
       <style>
         table, th {
           border:1px solid black;
         }
       </style>
       {{ userinput['fname'] }} - {{ userinput['modele']}}, {{userinput['problem'] }}
{% endblock %}