<html lang="en">
    {% extends 'base.html' %}

    <ul>
      {% for modele in modeles %}
          <li>{{ modele }}</li>
    </ul>
    
    {% block content %}
<head>
<title>List userinput</title>
<!doctype html>
<html>
   <body>
   
   <table border = 3 id="table2" style="width:100%">
      <caption style="caption-side:bottom"></caption>

      {% for userinput in userinputs %}

      {{userinput['fname'] }}
            
         {% endfor %}
     {{ userinput['fname'] }} - {{ userinput['modele']}} - {{userinput['problem'] }}
      <tr>
         <td> {{ userinput['fname'] }}</td>
      </tr>
      <tr>
         <td>{{ userinput['modele']}}</td>
      </tr>
      <tr>
         <td> {{userinput['problem'] }}</td>	
      </tr>
      <style>
         table, th {
           border:1px solid black;
         }
      </style>
   </table>
{% endblock %}