{% extends 'base.html' %}

{% block content %}
<title>User Input</title>
<h1> Welcome {{fname}} ! </h1>
<form action = "/userinput" method = "POST">
    <label for="fname">First name:</label><br>
    <input type="text" id="fname" name="fname" required><br>
    <label for="lname">Last name:</label><br>
    <input type="text" id="lname" name="lname" required>
    <button type="submit">Envoyer</button>
    <button type="submit">Annuler</button>
  </form>
   <p>
    Our clients are any persons 
   </p>
   <p>
    owner of cellular phones
   </p>
   <p>
    android model
   </p>
   <p>
    or iOS model.
   </p>
   <p>
    Any other person interested by
    </p>
    <p>
    any programing language can found it with us!
    </p>
 <div>
{% endblock %}