{% extends 'base.html' %}

{% block content %}
<title>Web Designing</title>

    <h1>What's web Designing?</h1>
<div>
    <p>Web designing is the process of planning, 
    <p>conceptualizing, and implementing the plan</p>
    <p>for designing a website in a way that it functionals and offers a good user experience.</p>
    <p>User experience is central to the web designing process.</p>
    <p>Websites have an array of elements presented in ways that make them easy to navigate.</p>
    </div>
{% endblock %}